body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2 {
  text-align: left;
}

#dropdown {
  margin: 16px;
  font-size: 0,9rem;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  outline: solid 2px #0018A4 ;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #2c3e50;
  text-align: center;
  height: 3rem; /* Fixed height to align all titles */
  line-height: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  white-space: normal; /* Allow wrapping */
}

/*Add a Grey Line inbetween*/
.card hr {
  width: 40%;
  border: 0;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.card p {
  text-align: left;
  font-size: 1rem;
  color: #333;
  margin: 1px;
}

.card p b {
  color: #0018A4;
  text-align: left;
}

.card button {
  background-color: #0018A4;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #ccffe2;
  color: #0018A4;
}

.card button:focus {
  outline: solid 2px #0018A4;
}

.description {
  margin-top: 0.5rem;
  color: #555;
  font-size: 0.9rem;
  line-height: 1,4;
  display: none;
}

/* 
**************** footer style ***********************
*/

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.social-media {
  display: flex;
  padding: 10px;
}

.social-media a {
  margin-left: 10px;
}

.social-media img {
  max-width: 20px;
}

.logo img {
  max-width: 50px;
  padding-left: 15px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #bbb;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;  
    align-items: center;
  }
}

@media (min-width: 1025px) {
  footer {
    padding: 20px 0;
  }
}