body {
  font-family: Georgia;
}

h1,
h2 {
  text-align: left;
}

#dropdown {
  margin: 10px;
  font-size: 0,9rem;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #2c3e50;
  text-align: left;
}

.card p {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 1rem;
  color: #333;
}

.card p b {
  color: #2980b9;
  text-align: left;
}

.card button {
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #1e6f93;
}

.card button:focus {
  outline: solid 3px red;
}

.description {
  margin-top: 0.5rem;
  color: #666;
  font-size: 0.9rem;
  display: none;
}